/************************
        General
*************************/
* {
    box-sizing: border-box;
  }
  
  body {
    width: 100%;
    font-size: 1rem;
    background-color: $light;
    text-align: center;
  }
  
  /************************
         Components
  *************************/