.sidebar {
  height: calc(100vh - 2rem);
  position: relative;
  width: 420px;

  @include md-down{
    height: 100%;
    position: absolute;
    width: 90%;
    padding: 20px;
    margin: 0 auto;
    left:0;
    right: 0;
  }

  .overlay {
    height: 100%;
    width: 100%;
    background-color: $black;
    opacity: 0.5;
    position: absolute;

    @include md-down{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .sidebarContent {
    position: relative;
    padding-bottom: 3rem;
  }

  .navigation {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    @include xl-down{
      margin-top: 2rem ;
    }

    a {
      color: $white;
      font-size: calc(#{$main-size} - 3px);
      opacity: 0.5;
      padding-bottom: 17px;

      &:hover, &:focus, &:active {
        opacity: 1;
        border-bottom: 1px solid $white;
        padding-bottom: 10px;
        border-bottom: 2px solid $white;
        padding-bottom: 15px;
      }
    }
  }

  .line {
    border: 0.5px solid $white;
    opacity: 0.5;
    margin: -2px 0;
  }
}

